
  button{
    color : white;
  }

  
  h1{
    font-weight: 900;
    font-size: 48px;
  }
  p{  
    font-size: 18px;
  }

mat-card-title,mat-card-subtitle{
    font-weight: 900;
    margin-bottom: 7px;
}
.container{
    background-color: transparent;
}

.example-card {
    width:400px;
    height: 160px;
    background-color: transparent;
    margin-top: 5px;  
  }
  
  .example-header-image {
    background-size: cover;
    width: 100px;
    height: 100px;
  }

  a{
      text-decoration: none;
  }
  mat-card{
    margin-left: 2px;
margin-right: 2px;
  }
img{
  border: solid 0.5px black;
  border-radius: 3px;
}
  