<div class="viewport">
    <div *ngIf="teams$ | async as team;">
        <mat-list>
            <mat-list-item fxLayout="row" fxLayoutAlign="end start">
                <button mat-raised-button (click)="openDialog(true, team)" color="accent" ><mat-icon>edit</mat-icon>Editer</button>
                <button mat-raised-button (click)="delete(team)" color="warn"><mat-icon>delete</mat-icon>Supprimer</button>
                <button mat-raised-button style="color: black" routerLink=".."  >Retour<mat-icon>arrow_forward</mat-icon></button>
            </mat-list-item>
               <mat-divider style="border : solid 1px {{team.team_color}};"></mat-divider>
        </mat-list>
        <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <div>
                <div *ngFor = "let driver of drivers$ | async " >
                    <mat-card class="margin-top" class="example-card" style="border: solid 0.5px {{driver.team_color}};">
                        <mat-card-header >
                          <div mat-card-avatar class="example-header-image">
                              <img src="{{driver.profile}}" alt="" width="40" height="40">
                            </div>
                            <mat-card-title>{{driver.name}}</mat-card-title>
                            <mat-card-subtitle>{{driver.drivernb}} - <img class="flag" src="{{driver.flag}}" alt="" width="15" ></mat-card-subtitle>
                        </mat-card-header >
                        <div fxLayout="row" fxLayoutAlign="end end"> 
                            <a routerLink="/championships/{{team.championshipid}}/drivers/{{driver.id}}" >
                                <button  mat-raised-button style="background-color: {{driver.team_color}};">Informations</button>
                            </a>
                        </div>
                      </mat-card>
                </div>
            </div>
            <div  class="margin-top" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="75px">
                <h1>{{team.name}} - <img class="flag" src="{{team.flag}}" width="60"></h1>
                <img src="{{team.logo}}" alt="" width="309" height="174">
                <img src="{{team.car}}" alt="">
            </div>
            <div>
                <div class="margin-top" class="container" style="border-top: solid 2px {{team.team_color}};">
                    <div fxLayout="column"  fxLayoutAlign="start start">
                        <h2 style="border-bottom: solid 2px {{team.team_color}}">Équipe</h2>
                    </div>
                    <div fxLayout="column"  fxLayoutAlign="start start">
                        <p>Situé en {{team.base}}, et créé en {{team.startyear}}.</p>
                        <p>Directeur d'équipe {{team.headchief}}, et  {{team.headtech}} comme responsable technique.</p>
                    </div>
                </div>
                <div class="margin-top" class="container" style="border-top: solid 2px {{team.team_color}};">
                    <div fxLayout="column"  fxLayoutAlign="start start">
                        <h2 style="border-bottom: solid 2px {{team.team_color}}">Statistique</h2>
                    </div>
                    <div fxLayout="column"  fxLayoutAlign="start start">
                        <p>Ils ont réussi à gagnier {{team.teamchampionships}} fois le championnat du monde.</p>
                        <p>Dans la saison actuel ils ont {{team.teampoint}} points au classement d'équipe.</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
