.viewport{
    height: 85vh;
  }
  
  
  h1{
    font-size: 30px;
  }
  p{
    font-size: 18px;
  }
  
  
a{
  text-decoration: none;
}
.container{
    background-color: transparent;
    width: 400px;
}

.border{
  border: solid 1px rgb(48, 48, 48);
  border-radius: 5px;
}