<div class="viewport">
  <mat-tab-group>
    <mat-tab label="Classement des pilotes">
      <table mat-table  [dataSource]="drivers$" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> N° </th>
          <td mat-cell *matCellDef="let driver"> {{driver.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nom </th>
          <td mat-cell *matCellDef="let driver"> {{driver.name}} </td>
        </ng-container>
    
  

        <ng-container matColumnDef="flag">
          <th mat-header-cell *matHeaderCellDef> Pays </th>
          <td mat-cell *matCellDef="let driver"> <img src="{{driver.flag}}" width="45" >  </td>
        </ng-container>
    
        <ng-container matColumnDef="team_name">
          <th mat-header-cell *matHeaderCellDef> Équipe </th>
          <td mat-cell *matCellDef="let driver" > {{driver.team_name}} </td>
        </ng-container>

        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef> Points </th>
          <td mat-cell *matCellDef="let driver"> {{driver.points}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-tab>
    <mat-tab label="Classement Constructeur">
      <table mat-table  [dataSource]="teams$" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> N° </th>
          <td mat-cell *matCellDef="let team"> {{team.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nom </th>
          <td mat-cell *matCellDef="let team"> {{team.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="headchief">
          <th mat-header-cell *matHeaderCellDef> Directeur d'équipe </th>
          <td mat-cell *matCellDef="let team"> {{team.headchief}} </td>
        </ng-container>

        <ng-container matColumnDef="flag">
          <th mat-header-cell *matHeaderCellDef> Pays </th>
          <td mat-cell *matCellDef="let team"> <img src="{{team.flag}}" width="45" >  </td>
        </ng-container>
    
        <ng-container matColumnDef="teampoint">
          <th mat-header-cell *matHeaderCellDef> Points </th>
          <td mat-cell *matCellDef="let team"> {{team.teampoint}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>