.viewport{
    height: 85vh;
  }
  
  h1,p {
    color: black;
  }
  
  h1{
    font-weight: 900;
    font-size: 48px;
  }
  p{
    font-size: 18px;
  }

table{
  width: 100%;
}
img{
  border-radius: 3px;
  border: solid 1px black;
}